body {
  margin: 0;
  font-family: "Trebuchet MS", Arial;
  background: linear-gradient(135deg, #6a5acd, #9370db);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN */
.login-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

.login-card button {
  padding: 10px 20px;
  font-size: 16px;
  background: #6a5acd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* JUEGO */
.game-layout {
  display: flex;
  gap: 20px;
}

.game-card, .ranking-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.game-card {
  width: 450px;
}

.ranking-card {
  width: 220px;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.energy {
  font-size: 60px;
  margin: 15px 0;
}

.objects {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.object {
  width: 120px;
  height: 120px;
  background: #f0f0ff;
  border-radius: 15px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.object span {
  font-size: 14px;
}

#message {
  margin-top: 15px;
  font-weight: bold;
}
