body {
  margin: 0;
  font-family: Arial;
  background: #6b5cff;
}

.screen {
  display: none;
  height: 100vh;
}

.screen.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN */
.login-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
}

.login-card input,
.login-card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

/* JUEGO */
.main-container {
  display: flex;
  gap: 20px;
}

.game-container,
.ranking-container {
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.objects-zone button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
}
